.App-footer {
  background-color: #636E60; /*Herb*/
  height: 60px;
  color: #3C3C3C; /*Black*/
  position: absolute;
  width: 100%;
}

/*
Earthy and Fresh
(Reddish-Grey) Terracotta #945D60
(Green) Herb #626E60
(Retro Red) Chilli #AF473C
(Black) Charcoal #3C3C3C

*/
